<mat-card class="product">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="product.img" alt="image item">
    <mat-card-actions>
        <button class="productact" mat-mini-fab color="warn" (click)="setQuantityProduct(-1)">
            <mat-icon>remove</mat-icon>
        </button>
        <div id="counter">{{product.quantity}}</div>
        <button class="productact" id="add" mat-mini-fab color="primary" (click)="setQuantityProduct(1)">
            <mat-icon>add</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>