.product {
    max-width: 400px;
    background: white;
    margin: 1em auto;
    padding: 0;
    width: 15em;
}

.product > mat-card-header {
    display: block;
    padding-top: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.product > mat-card-title {
    font-size: 1em;
}

.product > img {
    width: 12em;
}

.product > mat-card-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 2.5em;
    align-items: center;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.mat-mini-fab {
    height: 26px !important;
    width: 26px !important;
    margin: 0 0.5em 0 0.5em !important;
}

#counter {
    width: 3em;
}