<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav>
        <mat-toolbar id="sideNavToolbar">
          <mat-toolbar-row>
            <span id='TitleToolBar'>DRIVER HELP</span>
            <span id='LogRegistButton'>
              <button mat-icon-button [disableRipple]="true" id="backMenu" (click)="sidenav.toggle()">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-list>
          <mat-list-item (click)="redirectToHome()">
            <mat-icon class="iconSideNav">home</mat-icon>
            <span class="spanSideNav">Home</span>
          </mat-list-item>
          <mat-list-item (click)="redirectToLogin()">
            <mat-icon class="iconSideNav">vpn_keys</mat-icon>
            <span class="spanSideNav">Sign In</span>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-icon-button [disableRipple]="true" id="menu" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>DRIVER HELP</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="body-content">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-icon id='iconSingIn'>account_circle</mat-icon>
                    <span>Register</span>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="registerForm" class="example-form">
                        <div id="lastfirst">
                            <mat-form-field id="lastname">
                                <mat-label>Lastname</mat-label>
                                <input matInput [formControl]="registerForm.controls.lastname" placeholder="Dupont">
                                <mat-error *ngIf="registerForm.controls.lastname.hasError('required')">
                                    Lastname is <strong>required</strong> !
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Firstname</mat-label>
                                <input matInput [formControl]="registerForm.controls.firstname" placeholder="Jean">
                                <mat-error *ngIf="registerForm.controls.firstname.hasError('required')">
                                    Firstname is <strong>required</strong> !
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput [formControl]="registerForm.controls.dateOfBirth" [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <mat-label>Address</mat-label>
                        <div id="formAddress">
                            <div>
                                <div id="topFormAddress">
                                    <mat-form-field id="numero">
                                        <input matInput [formControl]="registerForm.controls.numero" placeholder="Num">
                                    </mat-form-field>
                                    <mat-form-field id="street">
                                        <input matInput [formControl]="registerForm.controls.street"
                                            placeholder="Street">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-form-field id="zipcode">
                                        <input matInput [formControl]="registerForm.controls.zipCode"
                                            placeholder="Zip Code">
                                    </mat-form-field>
                                    <mat-form-field id="city">
                                        <input matInput [formControl]="registerForm.controls.city" placeholder="City">
                                    </mat-form-field>
                                    <mat-form-field id="country">
                                        <input matInput [formControl]="registerForm.controls.country"
                                            placeholder="Country">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <mat-form-field class="example-full-width firstChildMatFrmField">
                            <mat-label>Email</mat-label>
                            <input matInput [formControl]="registerForm.controls.email"
                                placeholder="workshop@example.com">
                            <mat-error
                                *ngIf="registerForm.controls.email.hasError('email') && !registerForm.controls.email.hasError('required')">
                                Please enter a valid email address !
                            </mat-error>
                            <mat-error *ngIf="registerForm.controls.email.hasError('required')">
                                Email is <strong>required</strong> !
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput [formControl]="registerForm.controls.password" placeholder="Jhdlme8++d">
                            <mat-error
                                *ngIf="registerForm.controls.password.hasError('minLength') && !registerForm.controls.password.hasError('required')">
                                Please enter a valid password (8 characters minimum)
                            </mat-error>
                            <mat-error *ngIf="registerForm.controls.password.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-raised-button (click)='submitRegister()' color='primary'>Create my account</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>