mat-card {
    margin: 0 auto;
    padding: 10px 0 16px 0 !important;
    display: flex;
    flex-direction: column;
    text-align: justify;
    background: #fbfbfb;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

mat-card-actions > div {
    flex: auto;
    margin-left: 2%;
}

mat-card-header {
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 1%;
}

mat-card-header > span {
    margin: 0 auto;
    font-size: 25px;
}

mat-card-content {
    padding: 0.5em;
}

#iconSingIn {
    font-size: 34px;
    margin: 0px auto 3.1%;
}

#NeedHelp {
    color: blue !important;
    margin: 0 2% 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 13px;
}

.example-card {
    max-width: 400px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
    margin-bottom: 0.5em;
}

#formAddress {
    border-style: none;
    background: #ffffff;
    box-shadow: 1px 1px 1px 1px #ccc;
    margin-bottom: 1em;
}

#formAddress > div {
    margin: 0 0.5em 0.5em 0.5em;
    display: flex;
    flex-direction: column;
}

#formAddress > div > div {
    display: flex;
    flex-direction: row;
}

#formAddress > div > div:first-child {
    margin-right: 0.5em;
}

#formAddress > div > input {
    width: 80%;
}

#topFormAddress {
    margin-top: 0.5em;
}

#lastname {
    margin-right: 1.5em;
}

#lastfirst {
    margin-bottom: 0.5em;
}

#numero {
    margin-right: 0.5em;
    text-align: center;
    width: 16%;
}

#street {
    width: 100%;
}

#zipcode {
    margin-right: 0.5em;
    width: 16%;
    text-align: center;
}

#city {
    margin-right: 0.5em;
    width: 44%;
}

#country {
    margin-right: 0.5em;
    width: 34%;
}
