<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav>
    <mat-toolbar id="sideNavToolbar">
      <mat-toolbar-row>
        <span id='TitleToolBar'>DRIVER HELP</span>
        <span id='LogRegistButton'>
          <button mat-icon-button [disableRipple]="true" id="backMenu" (click)="sidenav.toggle()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list>
      <mat-list-item (click)="redirectToHome()">
        <mat-icon class="iconSideNav">home</mat-icon>
        <span class="spanSideNav">Home</span>
      </mat-list-item>
      <mat-list-item (click)="redirectToLogin()">
        <mat-icon class="iconSideNav">vpn_keys</mat-icon>
        <span class="spanSideNav">Sign In</span>
      </mat-list-item>
      <mat-list-item (click)="redirectToRegister()">
        <mat-icon class="iconSideNav">perm_contact_calendar</mat-icon>
        <span class="spanSideNav">Register</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button [disableRipple]="true" id="menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span id='TitleToolBar'>DRIVER HELP</span>
        <span id='LogRegistButton'>
          <button mat-button (click)="redirectToLogin()">Sign In</button>
          <button mat-button (click)="redirectToRegister()">Register</button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="body-content">
      <div>
        <img class="logoImg" src="./../../../assets/logo.png" alt="logo">
      </div>
      <span>Confinement ne sera jamais synonyme d'isolement et de désolidarisation, c'est pourquoi nous avons créé cette plateforme !</span>
    </div>

    <button id="usedServices" mat-raised-button color="primary" (click)="redirectToMain()">USED OUR SERVICES</button>

  </mat-sidenav-content>

</mat-sidenav-container>