<mat-card class="displayOrderOwnerDetails2">
  <mat-card-header>
    <mat-card-title>Orders</mat-card-title>
    <mat-card-subtitle>Orders not affected</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div id="detailsProductOrder2">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="No. Order">
          <th mat-header-cell *matHeaderCellDef> No. Order </th>
          <td mat-cell *matCellDef="let order"> {{order.id}} </td>
        </ng-container>

        <ng-container matColumnDef="Numero">
          <th mat-header-cell *matHeaderCellDef> Numero </th>
          <td mat-cell *matCellDef="let order"> {{order.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="Owner">
          <th mat-header-cell *matHeaderCellDef> Owner </th>
          <td mat-cell *matCellDef="let order"> {{order.owner.lastname}} {{order.owner.firstname}}</td>
        </ng-container>

        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let order"> {{order.total}} </td>
        </ng-container>

        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let order"><button mat-icon-button color="primary" (click)="openDialog(order)">
              <mat-icon>visibility</mat-icon>
            </button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>