.displayOrderOwnerDetails2 {
    margin: 1em auto;
    background: #fbfbfb;
    height: 38em !important;
    border-radius: 2em;
}

.mat-card:not([class*="mat-elevation-z"]) {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.displayOrderOwnerDetails2 > mat-card-header {
    text-align: left;
    height: 4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding-bottom: 1%;
    margin: 0 0 2% 0;
}

.displayOrderOwnerDetails2 > mat-card-content {
    height: 31em;
}

.displayOrderOwnerDetails2 > mat-card-actions {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    height: 3em;
    display: flex;
    justify-content: center;
}

#orderOwnerDetails {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#detailsProductOrder2 {
    margin-top: 2em;
    position: relative;
    overflow: auto;
    max-height: 111%;
}

#detailsProductOrder2 > table {
    width: 100%;
}

.mat-row {
    text-align: start;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    text-align: end;
}