<mat-sidenav-container class="example-container">

  <mat-sidenav #sidenav>
    <mat-toolbar id="sideNavToolbar">
      <mat-toolbar-row>
        <span id='TitleToolBar'>DRIVER HELP</span>
        <span id='LogRegistButton'>
          <button mat-icon-button [disableRipple]="true" id="backMenu" (click)="sidenav.toggle()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <app-profile></app-profile>
    <mat-list>
      <mat-list-item (click)="redirectToHome()">
        <mat-icon class="iconSideNav">home</mat-icon>
        <span class="spanSideNav">Home</span>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button [disableRipple]="true" id="menu" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span id='TitleToolBar'>DRIVER HELP</span>
        <button mat-icon-button [disableRipple]="true" id="shoppingInfo" (click)="this.shopInfo.display()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="body-content">

      <mat-tab-group (selectedTabChange)="onChangeTab($event)">
        <mat-tab label="Take order">
          <app-edit-order *ngIf="this.orderOwner == null"></app-edit-order>
          <app-list-order-to-give [orderOwner]="this.orderOwner" *ngIf="this.orderOwner != null"></app-list-order-to-give>
        </mat-tab>
        <mat-tab label="Order an individual">
          <app-list-order-to-take *ngIf="orderAssigned == null"></app-list-order-to-take>
          <app-list-order-to-give *ngIf="orderAssigned != null" [orderOwner]="this.orderAssigned"></app-list-order-to-give>
        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>

<app-shop-view *ngIf="displayShopInfo"></app-shop-view>