<mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav>
        <mat-toolbar id="sideNavToolbar">
          <mat-toolbar-row>
            <span id='TitleToolBar'>DRIVER HELP</span>
            <span id='LogRegistButton'>
              <button mat-icon-button [disableRipple]="true" id="backMenu" (click)="sidenav.toggle()">
                <mat-icon>keyboard_arrow_right</mat-icon>
              </button>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
        <mat-list>
          <mat-list-item (click)="redirectToHome()">
            <mat-icon class="iconSideNav">home</mat-icon>
            <span class="spanSideNav">Home</span>
          </mat-list-item>
          <mat-list-item (click)="redirectToRegister()">
            <mat-icon class="iconSideNav">perm_contact_calendar</mat-icon>
            <span class="spanSideNav">Register</span>
          </mat-list-item>
        </mat-list>
      </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-icon-button [disableRipple]="true" id="menu" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>DRIVER HELP</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="body-content">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-icon id='iconSingIn'>account_circle</mat-icon>
                    <span>Sign In</span>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="loginForm" class="example-form">
                        <mat-form-field class="example-full-width firstChildMatFrmField">
                            <mat-label>Email</mat-label>
                            <input matInput [formControl]="loginForm.controls.email" placeholder="workshop@example.com">
                            <mat-error
                                *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
                                Please enter a valid email address !
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                                Email is <strong>required</strong> !
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input matInput [formControl]="loginForm.controls.password" placeholder="Jhdlme8++d">
                            <mat-error
                                *ngIf="loginForm.controls.password.hasError('minLength') && !loginForm.controls.password.hasError('required')">
                                Please enter a valid password (8 characters minimum)
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                                Password is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </form>
                </mat-card-content>
                <mat-card-actions>
                    <div>
                        <button mat-raised-button (click)='submitLogin()' color='primary'>Login</button>
                        <button mat-raised-button (click)='redirectToRegister()'>Register</button>
                    </div>
                    <a id="NeedHelp" routerLink="/register" class="btn btn-link">I forgot my password</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>