mat-card {
    margin: 0 auto;
    padding: 10px 0 16px 0 !important;
    display: flex;
    flex-direction: column;
    text-align: justify;
    background: #fbfbfb;
}

mat-card-actions {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}

mat-card-actions > div {
   flex: auto;
   margin-left: 2%;
}

mat-card-header {
    display: flex;
    flex-direction: column;
    margin: 0 0 2% 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding-bottom: 1%;
}

mat-card-header > span {
    margin: 0 auto;
    font-size: 25px;
}

mat-card-content {
    padding: 0.5em;
  
}


#iconSingIn {
    font-size: 34px;
    margin: 0px auto 3.1%;
}

#NeedHelp {
    color: blue !important;
    margin: 0 2% 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 13px;
}

.example-card {
    max-width: 400px;
}

.firstChildMatFrmField {
    margin-bottom: 0.5em;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
    width: 100%;
}
