.profile {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background: #3f51b5;
    border-radius: 1em;
    margin: 0.4em;
}

.profile > mat-icon {
    transform: scale(2.5);
    margin: 1em auto;
}

.profile > div {
    display: flex;
    flex-direction: row;
    margin: 0.4em;
}

.profile > div > mat-icon{
    margin-right: 0.2em;
}


.profile > div > div{
    font-size: 12px;
    display: flex;
    align-items: center;
}