<div class="profile">
    <mat-icon>account_box</mat-icon>
    <div>
        <mat-icon>email</mat-icon>
        <div>{{this.currentUser.mail}}</div>
    </div>
    <div>
        <mat-icon>assignment_ind</mat-icon>
        <div>{{this.currentUser.lastname}} {{this.currentUser.firstname}}</div>
    </div>
    <div>
        <mat-icon>event</mat-icon>
        <div>{{this.currentUser.dateOfBirth}}</div>
    </div>
    <button mat-raised-button color="warn" (click)="disconnect()">Disconnect</button>
</div>