<mat-card [ngClass]="{displayOrderOwnerDetails: !modal, displayOrderOwnerDetails3: modal}">
    <mat-card-header>
        <mat-card-title>Order {{orderOwner.id}}</mat-card-title>
        <mat-card-subtitle>{{orderOwner.numero}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div id="orderOwnerDetails">
            <div id="ownerInfo">
                Owner: {{orderOwner.owner.lastname}} {{orderOwner.owner.firstname}}
            </div>
            <div id="deliveryManInfo" *ngIf="orderOwner.deliveryMan != null">
                Deliverer Man: {{orderOwner.deliveryMan.lastname}} {{orderOwner.deliveryMan.firstname}}
            </div>
            <div>
                <div class="statusInfo" *ngIf="orderOwner.status == 0">Order's status: <mat-chip color="accent"
                        selected>Not Assigned</mat-chip>
                </div>
                <div class="statusInfo" *ngIf="orderOwner.status == 1">Order's status: <mat-chip color="primary"
                        selected>In Progress</mat-chip>
                </div>
            </div>
            <div>
                Estimate Price: {{orderOwner.total}} €
            </div>
        </div>
        <div id="detailsProductOrder">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="No. Product">
                    <th mat-header-cell *matHeaderCellDef> No. Product </th>
                    <td mat-cell *matCellDef="let product"> {{product.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="Quantity">
                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                    <td mat-cell *matCellDef="let product"> {{product.quantity}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="Price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let product"> {{product.priceMax}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="orderOwner.status == 0 && !modal" mat-raised-button color="warn" (click)="cancelOrder()">Cancel
            the order</button>
        <button *ngIf="orderOwner.status == 0 && modal" mat-raised-button color="accent"
            (click)="deliverOrder()">Deliver this order</button>
            <button *ngIf="orderOwner.status == 1 && !modal && !isNotDelivererUser()" mat-raised-button color="primary"
            (click)="closeOrder()">Close the order</button>
        <button *ngIf="modal" mat-raised-button color="primary"
            (click)="closeModal()">Close overview</button>
    </mat-card-actions>
</mat-card>