<div id="sidePanel">
    <div id="shopHeader">
        <mat-toolbar id="sideNavToolbar">
            <mat-toolbar-row>
                <span id='LogRegistButton'>
                    <button mat-icon-button [disableRipple]="true" id="backMenu" (click)="hide()">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <span id='TitleToolBar'>Shop</span>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div id="shopBody">
        <div id="shopContent">
            <div id="details" *ngIf="order.categoryOrdered.length > 0">
                <div>Order's details</div>
                <mat-list>
                    <ng-container *ngFor="let category of order.categoryOrdered">
                        <div mat-subheader>{{category.name}}</div>
                        <mat-list-item *ngFor="let product of category.products">
                            <div mat-line>{{product.name}} Qté: {{product.quantity}} Prix: {{product.priceMax}}</div>
                        </mat-list-item>
                        <mat-divider *ngFor="let category of order.categoryOrdered"></mat-divider>
                    </ng-container>
                </mat-list>
                <div id="sum">
                    <span>TOTAL</span>
                    <div>{{orderSum}}</div>
                </div>
                <button id="btnOrder" mat-raised-button (click)="submitOrder()">Take Order</button>
            </div>
            <div id="noOrder" *ngIf="order.categoryOrdered.length == 0">
                <em>No order in progess !</em>
            </div>
        </div>

    </div>
</div>