#sidePanel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    min-height: 55%;
    min-width: 17em;
}

#sideNavToolbar {
    margin-bottom: 0 !important;
}

#shopBody {
    height: 32em;
    background: #eaf2ff;
    border-bottom-left-radius: 4em;
    -moz-box-shadow: -5px 8px 6px -1px #ccc;
    -webkit-box-shadow: -5px 8px 6px -1px #ccc;
    box-shadow: -5px 8px 6px -1px #ccc;
}

#shopContent {
    height: 98%;
    position: static;
    padding-top: -18em;
    left: 3.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    background: #d1d1ec;
    padding: 1em auto;
    border-bottom-left-radius: 4em;
}

////////////////////////////////////////

mat-list {
    background: white;
    border-bottom-left-radius: 1em;
    height: 21em;
    overflow: auto;
    padding-top: -4em;
    position: relative;
    top: 1em;
    left: 0.5em;
    width: 15em;
}

#details {
    display: flex;
    flex-direction: column;
}

#details > div {
    text-align: center;
    top: 0.5em;
    position: relative;
}

#sum {
    display: flex;
    position: relative;
    top: 2.5em !important;
    right: 3em;
}

#sum > span {
    flex: 1;
}

#btnOrder {
    width: 7em;
    position: relative;
    top: 4.5em;
    left: 6.5em;
}

#noOrder {
    position: relative;
    left: 3em;
    top: 13em;
}