/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    //background: linear-gradient(0.13turn, #586ff3, #ffffff);
}

mat-toolbar {
    margin-bottom: 2em !important;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12) !important;
    background: #3f51b5 !important;
    z-index: 2;
}

mat-toolbar-row {
    display: flex;
}

mat-toolbar > mat-toolbar-row > span {
    color: aliceblue;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 21px;
    font-weight: 500;
}

#sideNavToolbar {
    margin-bottom: 0.5em !important;
}

mat-list-item {
    display: flex;
    justify-content: center;
}

mat-list-item:hover {
    cursor: pointer;
}

.iconSideNav {
    transform: scale(1.5) !important;
    margin-right: 0.5em;
    color: #3f51b5;
}

.spanSideNav {
    font-size: 1.5em;
    //padding-top: 0.3em;
}

#TitleToolBar {
    flex: auto;
}

.mat-drawer-container {
    position: initial !important;
    display: unset !important;
}

#backMenu {
    padding: 0 0 0 1em;
}

#backMenu > span > mat-icon {
    font-size: 2.1em;
}

#menu {
    padding: 0 2em 0 0;
}

#menu > span > mat-icon {
    color: white !important;
    font-size: 2.1em;
}

#shoppingInfo {
    padding: 0 2em 0 0;
}

#shoppingInfo > span > mat-icon {
    color: white !important;
    font-size: 2.1em;
}

.mat-button-focus-overlay,
.mat-button-ripple-mat-ripple {
    display: none;
}

.body-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.logoImg {
    width: 35%;
}


///////////////////////////////////////@extend

mat-tab-group {
    margin: 0em auto;
    width: 90%;
}

mat-tab-group:last-child > mat-ink-bar {
    background-color: green !important;
}


mat-tab-header {
    margin: 0 auto 2em auto;
}

////////////////////////////////////////////////////

/* width */
::-webkit-scrollbar {
    width: 8px !important;
}

/* Track */
::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 2px grey; 
    border-radius: 3px !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #cccccc; 
    border-radius: 5px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(138, 138, 138) !important; 
}

///////////////////////////////////////////////////

.productact > span {
    display: flex !important;
    padding: 0 !important;
    justify-content: center;
}


mat-sidenav-content {
    overflow: overlay;
}

.cdk-overlay-pane {
    width: 37em !important;
}

.mat-dialog-container {
    padding: 0 !important;
}