#categoryList {
    display: flex;
    flex-direction: row;
    overflow: auto;
    background: #e2e6fb;
    border-radius: 1em;
    width: min-content;
    width: 100%;
    max-height: 12em;
}

#categoryList > div {
    border-radius: 1em;
    background: #aebbff;
    margin: 1em 1em 1em 1em;
    padding-bottom: 0.4em;
    width: 10em;
    cursor: pointer;
}

#categoryList > div > img {
    height: 7em;
}

#productList {
    border-radius: 1em;
    background: #e2e6fb;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    width: 100%;
    margin-top: 1em;
    white-space: nowrap;
    overflow-y: scroll;
    height: 35em;
    display: list-item;
}

mat-grid-list {
    //padding-bottom: calc((22.3333% - 0.666667px) * 1 + 0px) !important;
}

.mat-grid-tile-others-line {
    //padding-top: calc((22.3333% - 0.666667px) * 1 + 0px) !important;
    //margin-top: calc((21.3333% - 0.666667px + 1px) * 1) !important;
}

.mat-grid-tile-first-line {
    padding-top: calc((22.3333% - 0.666667px) * 1 + 0px) !important;
    margin-top: 0 !important;
}