<div id="categoryList">
    <div *ngFor="let category of categoryList" (click)="setCurrentCategory(category)">
        <img [src]="category.img" />
        <span>{{category.name}}</span>
    </div>
</div>

<div id="productList">
    <ng-container *ngFor="let product of currentCategory.products">
        <app-item-view [product]="product"></app-item-view>
    </ng-container>
</div>